*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(img/frontpage.jpg);
    /* background-color: #fbe5ba; */
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: #fff8dc;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #8b6914;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: #deb887;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #deb887;
    transition: .4s;
}
.btn{
    background-color: #8b6914;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s; 
}
.btn:hover{
    transform: scale(1.2);
}

.content{
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%);
}
h1{
    color: #8b6914;
    margin: 0px 0px 20px;
    font-size: 65px;
}
h3{
    color: #8b6914;
    margin-bottom: 50px;
    font-size: 25px;
}
h4{
    color: #deb887;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #8b6914;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #8b6914;
    color: white;
    top: 6px;
    right: 6px;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: white;
}
.about img{
    height: auto;
    width: 100px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: #8b6914;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: #deb887;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #deb887;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background-color: #8b6914;
    color: #deb887;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}

.service{
    background: #fbe5ba;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: #8b6914;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: white;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 20px 0px;
    color: #8b6914;
}
h5{
    color:#deb887;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #8b6914;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: #8b6914;
    color: #deb887;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}
.contact-me{
    width: 100%;
    height: 290px;
    /* background: white; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: #8b6914;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two{
    background-color: #8b6914;
    color: #deb887;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: #deb887;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: #8b6914;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8b6914;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: #8b6914;
    bottom: 35px;
    font-size: 14px;
}